@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing: border-box;
}
body{
  color: #fff;
}
#left{
  justify-content: center;
  align-items: center;
  background: #181818;
    color: #fff;
    min-height: 100vh;
}
.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.secondary-btn:hover{
  color: orangered;
  border: 1px orangered solid;
}
#right{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://image.ibb.co/cO9Lxq/login-bg.jpg) no-repeat center center / cover;
  height: 100vh;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
}
.wi{
  width: 200px;
}
@media (min-width:1200px){
  #right{
   flex: 6;
  }
#left{
  flex: 4;
}
  }
  @media (max-width:760px){
    #right{
      display: none;
     }
  }
